<script lang="ts">
	export let cardName: string = '';
	export let rates: Record<string, number>;
	export let isLoading: boolean = false;
</script>

<div
	class="no-wrap relative flex w-full max-w-36 cursor-pointer flex-col items-center rounded-md bg-slate-700 p-4"
>
	<div class="mb-3 text-nowrap text-center">
		<span class="font-bold">{cardName.charAt(0).toUpperCase() + cardName.slice(1)}</span>
	</div>
	{#if Object.keys(rates).length > 0}
		<div class="">
			{#each Object.entries(rates) as [currencyName, rate]}
				<div class="font-sans">
					<span class="font-medium">{currencyName}</span>
					<span>{rate}</span>
				</div>
			{/each}
		</div>
	{/if}

	{#if isLoading}
		<div class="absolute right-1 top-1 animate-spin">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				viewBox="0 0 16 16"
				fill="currentColor"
				class="h-4 w-4"
			>
				<path
					fill-rule="evenodd"
					d="M13.836 2.477a.75.75 0 0 1 .75.75v3.182a.75.75 0 0 1-.75.75h-3.182a.75.75 0 0 1 0-1.5h1.37l-.84-.841a4.5 4.5 0 0 0-7.08.932.75.75 0 0 1-1.3-.75 6 6 0 0 1 9.44-1.242l.842.84V3.227a.75.75 0 0 1 .75-.75Zm-.911 7.5A.75.75 0 0 1 13.199 11a6 6 0 0 1-9.44 1.241l-.84-.84v1.371a.75.75 0 0 1-1.5 0V9.591a.75.75 0 0 1 .75-.75H5.35a.75.75 0 0 1 0 1.5H3.98l.841.841a4.5 4.5 0 0 0 7.08-.932.75.75 0 0 1 1.025-.273Z"
					clip-rule="evenodd"
				/>
			</svg>
		</div>
	{/if}
</div>
